<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <provider
            android:name="io.pulse.internal.PulseInitProvider"
            android:authorities="${applicationId}.Pulse.init"
            android:exported="false" />

        <service
            android:name="io.pulse.internal.PulseTileService"
            android:label="Pulse"
            android:icon="@android:drawable/ic_menu_manage"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
